.alert-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 1;
    position: fixed;
    top: 10%;
    right: 0px;
    margin: 3px;
    background-color: transparent;
    border-radius: 15px;
    padding: 5px;
    padding-bottom: 0px;
    width: 30%;
    font-size: medium;
    max-height: 300px;
    font-weight: bold;
    transition: right 0.3s ease-in-out;
}
.alert-container.open {
    right: -350px;
}

.controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.alert-panel {
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 0px;
    font-size: medium;
    max-height: 200px;
    overflow: scroll;
    font-weight: 600;
    transition: max-height 0.3s ease-in-out;
    width: 350px;
}

.expanded {
    max-height: 400px;
}

.alert-panel::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.alert-panel::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
}

.alert-panel::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the scrollbar track */
}


.alert-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    margin: 3px;
    padding: 10px;
    background-color: rgba(220, 20, 60);
    border-radius: 10px;
}

.alert-item .alert-icon {
    margin-right: 0px;
}
  
.alert-item .alert-content {
    flex: 1;
}


.latest-alert {
    padding: 10px;
    background-color: crimson;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}


.alert-controls {
    position: sticky;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(1px);
    padding: 8px;
    border-radius: 12px 12px 0px 0px;
    cursor: pointer;
}

.alert-scrollable {
    transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 900px){
    .alert-container {
        width: 80%;
        margin: 3px;
        margin-right: 5px;
        font-size: small;
        font-weight: bold;
    }
    .alert-panel {
        width: 300px;
    }
    .alert-container.open {
        right: -300px;
    }
}