.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.sidebarStyle {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 40px;
  margin: 10px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 5px;
  font-size:x-small;
  font-weight: bold;
}

.navigate {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 12px;
  padding: 5px;
  z-index: 2 !important;
  background: #121FCF;
  background: linear-gradient(to top right, #121FCF 0%, #CF1DAB 100%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: solid;
  border-color: rgba(150, 150, 150, 0.9);
  border-radius: 8px;
  border-width: 1px;
  color: aliceblue;
  font-weight: bold;
  transform: scale(1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.navigate:hover {
  box-shadow: 0 0 8px 2px #48abe0;
  transform: scale(1.05);
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.close {
  position: relative;
  z-index: 3;
  cursor: pointer;
  margin: 3px;
  padding: 3px;
  width: 30%;
  float: right;
  background: #CC00CC;
  background: linear-gradient(to top right, #CC00CC 0%, #FF1A16 100%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: solid;
  border-color: rgba(150, 150, 150, 0.9);
  border-radius: 8px;
  border-width: 1px;
  color: aliceblue;
  font-weight: bold;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.close:hover {
  /* box-shadow: 0 0 8px 2px #48abe0; */
  transform: scale(1.02);
}

.change-theme {
  position: absolute;
  z-index: 3;
  bottom: 5%;
  left: 3%;
  background-color: transparent !important;
  margin: 5px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  border-radius: 5px;
  width: 2rem;
  height: 2rem;
}

.change-theme img {
  object-fit:fill;
}

.spacer-img {
  background-color: transparent !important;
  border-radius: 5px;
  border: none;
  margin-right: 3px;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
}

.style-selector {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 5%;
  left: 6%;
  background-color: transparent !important;
  border: none;
  cursor: pointer;
}
.style-selector button {
  border: none;
  background-color: transparent;
}

.spacer-img img {
  object-fit:cover;
}

.spacer-img {
	-webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-50px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-50px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-50px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-50px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}




.style-options {
  position: absolute;
  top: 10px;
  right: -180px; /* Initially hidden */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  transition: right 0.3s;
}

.style-options.open {
  right: 10px;
}

.style-option {
  padding: 5px;
  cursor: pointer;
}

.style-option:hover {
  background-color: #f2f2f2;
}

@media screen and (max-width: 900px){
  .style-selector {
    left:80px;
  }
  
  .change-theme {
    left: 40px;
  }
}