.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #ffffff;
    border: 1px none;
    height: 1024px;
    position: relative;
    width: 1440px;
}

.desktop .admin {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 800px;
    left: 1117px;
    position: absolute;
    top: 112px;
    width: 300px;
}

.desktop .side-pannel {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 800px;
    left: 25px;
    position: absolute;
    top: 109px;
    width: 300px;
}

.desktop .footer {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 60px;
    left: 25px;
    position: absolute;
    top: 945px;
    width: 1392px;
}

.desktop .nav-bar {
    height: 60px;
    left: 25px;
    position: absolute;
    top: 13px;
    width: 1392px;
}

.desktop .rectangle {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
}

.desktop .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 60px;
    left: 1332px;
    position: absolute;
    top: 0;
    width: 60px;
}

.desktop .rectangle-3 {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 60px;
    left: 433px;
    position: absolute;
    top: 0;
    width: 600px;
}
